<app-side-panel>
  @if (diary) {
  <div class="row">
    <div class="col-12 col-5-lg">
      <app-date-controller-card [day]="day" [startDate]="startDate" (onSetDayParams)="setDayParams($event)" />
    </div>

    <div class="col-12 col-7-lg">
      <app-calories-balance [diary]="diary" [caloriesRequired]="diary.goal.caloriesRequired" />
    </div>
  </div>

  <div class="my-4 row">
    <div class="col-12">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Nutrients</mat-panel-title>
          </mat-expansion-panel-header>
  
          @if (diary.nutrients) {
          <app-nutrients [data]="diary.nutrients" />
          }
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12 col-6-md">
      <mat-card appearance="raised">
        <mat-card-content>
          @for (item of meals; track $index) { @if (item.columns.length > 0) {
          <div class="mb-4">
            <app-table-data
              [data]="item.data"
              [displayedColumns]="item.columns"
              [searchData]="false"
            />
            <button
              (click)="addMeal(item.meal)"
              class="btn-sm mt-4"
              mat-raised-button
            >
              <span>Add</span>
              <mat-icon>add</mat-icon>
            </button>
          </div>
          } }
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-12 col-6-md">
      <mat-card appearance="raised">
        <mat-card-content>
          <app-table-data
            [data]="exercises"
            [displayedColumns]="exercisesColumns"
            [searchData]="false"
          />
          <button
            (click)="addExercises()"
            class="btn-sm mt-4"
            mat-raised-button
          >
            <span>Add</span>
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  }

  <app-local-spinner />
</app-side-panel>
