.day-card {
  background: linear-gradient(to right, rgb(29, 153, 235), rgb(0, 180, 162));
  color: var(--dsVars-white);

  .day-wrapper {
    .day {
      font-size: 30px;
    }

    button {
      color: var(--dsVars-white);
    }
  }
}

.day-wrapper,
.calory-wrapper {
  min-height: 120px;
}

.calories-data-card {
  .calories-data {
    font-size: 30px;
  }

  &.goal-calories {
    .calories-data {
      color: rgb(35, 193, 8);
    }
  }

  &.food-calories {
    .calories-data {
      color: rgb(32, 177, 95);
    }
  }

  &.exercise-calories {
    .calories-data {
      color: #f06b46;
    }
  }

  &.remaining-calories {
    .calories-data {
      color: rgb(3, 173, 216);
    }
  }
}
