<div class="login-form flex justify-content-center align-items-center">
  <div class="login-form-container">
    <app-form-base
      [formTitle]="'Login'"
      [formGroup]="loginForm"
      [actionBtns]="actionBtns"
      [error]="errorMessage"
    >
      <div class="flex flex-column justify-content-between">
        <app-input-base
          [formControl]="loginForm.controls.email"
          [inputLabel]="'Email'"
          class="flex full-col mb-4"
        ></app-input-base>

        <app-input-base
          [formControl]="loginForm.controls.password"
          [inputLabel]="'Password'"
          type="password"
          class="flex full-col mb-4"
        ></app-input-base>
      </div>
    </app-form-base>
  </div>
</div>