<app-form [formGroup]="userData" [actionBtns]="actionBtns">
  <div class="py-4">
    <div class="flex flex-column flex-row-md col-gap-2">
      <app-input-base
        formControlName="firstName"
        inputLabel="First Name"
        class="flex full-col mb-4"
      ></app-input-base>

      <app-input-base
        formControlName="lastName"
        inputLabel="Last Name"
        class="flex full-col mb-4"
      ></app-input-base>
    </div>

    <div class="flex flex-column flex-row-md col-gap-2">
      <app-datepicker
        formControlName="dateOfBirth"
        inputLabel="Date of birth"
        [max]="getMaxDate()"
        class="full-col mb-4"
      />

      <mat-radio-group
        formControlName="gender"
        class="full-col mb-4 flex col-gap-2"
      >
        <mat-radio-button value="MALE">Male</mat-radio-button>
        <mat-radio-button value="FEMALE">Female</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flex">
      <app-input-base
        formControlName="email"
        inputLabel="Email"
        class="flex full-col mb-4"
      ></app-input-base>
    </div>

    @if (!user) {
    <div class="flex flex-column flex-row-md col-gap-2">
      <app-input-base
        formControlName="password"
        inputLabel="Password"
        type="password"
        class="flex full-col mb-4"
      ></app-input-base>

      <app-input-base
        formControlName="passwordConfirmation"
        inputLabel="Password Confirmation"
        type="password"
        class="flex full-col mb-4"
      ></app-input-base>
    </div>
    }
  </div>
</app-form>
