<div class="container">
  <div class="flex align-items-center">
    <button (click)="goBack()" mat-icon-button aria-label="Go Back">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2 class="ml-2">{{mode}} Exercise</h2>
  </div>

  @if (exercise) {
  <div class="my-2">
    <app-form
      [formTitle]="exercise.category"
      [formSubtitle]="exercise.description"
      [formGroup]="exerciseForm"
      [actionBtns]="actionBtns"
    >
      <div>
        <div class="mb-3">
          <span class="font-semi-bold ft-16">Select planner type</span>
        </div>

        <div class="mb-3">
          <mat-radio-group formControlName="plannerType">
            <mat-radio-button value="DAILY_PLANNER"
              >Daily planner</mat-radio-button
            >
            <mat-radio-button value="WEEKLY_PLANNER" class="ml-2"
              >Weekly planner</mat-radio-button
            >
          </mat-radio-group>
        </div>

        <div class="row">
          @if (plannerType?.value === 'DAILY_PLANNER') {
          <div class="col-12 col-5-sm">
            <div class="my-3">
              <span class="font-semi-bold">Schedule for days</span>
            </div>

            <div class="calendar-wrapper">
              <mat-calendar
                #calendar
                [dateClass]="highlightSelectedDays"
                [minDate]="minDate"
                [maxDate]="maxDate"
                (selectedChange)="toggleDate($event)"
              >
              </mat-calendar>
            </div>

            @if (daysFormArray.hasError('required')) {
              <div class="my-3">
                <span>You need to select at least one day.</span>
              </div>
              }
          </div>
          } @else {
          <div class="mt-2 days-wrapper px-3 py-2" formArrayName="days">
            <div class="my-3">
              <span class="font-semi-bold">Select days</span>
            </div>

            <div class="flex flex-column flex-row-md flex-wrap">
              <div *ngFor="let d of days; let i = index">
                <mat-checkbox
                  #dayCheckbox
                  (change)="addDay($event.checked, i)"
                  value="{{ i }}"
                  disabled="{{ isNoDaysLeft(dayCheckbox) }}"
                  >{{ days[i] }}</mat-checkbox
                >
              </div>
            </div>

            @if (daysFormArray.invalid) {
            <div class="my-3">
              <span>You need to select at least one day per week.</span>
            </div>
            }
          </div>

          <div>
            <div class="my-3">
              <span class="font-semi-bold ft-16">Schedule range</span>
            </div>

            <mat-radio-group formControlName="currentMonthScheduleRange">
              <mat-radio-button value="FROM_TODAY">From today</mat-radio-button>
              <mat-radio-button value="WHOLE_MONTH" class="ml-2"
                >Whole month</mat-radio-button
              >
            </mat-radio-group>
          </div>

          <div>
            <mat-checkbox formControlName="nextMonthIncluded"
              >Include next month</mat-checkbox
            >
          </div>
          }

          <div
            class="{{
              plannerType?.value === 'DAILY_PLANNER' ? 'col-12 col-6-sm' : ''
            }}"
          >
            <div class="my-3">
              <span class="font-semi-bold">Set program</span>
            </div>

            <div
              class="flex {{
                plannerType?.value !== 'DAILY_PLANNER' ? 'flex-row-md' : ''
              }} flex-column col-gap-2"
            >
              <mat-form-field class="full-col">
                <mat-label>Sets</mat-label>
                <input matInput type="number" formControlName="sets" />

                @if (sets?.invalid) {
                <mat-error>This field is mandatory</mat-error>
                }
              </mat-form-field>

              <mat-form-field class="full-col">
                <mat-label>Set Duration</mat-label>
                <input matInput type="number" formControlName="setDuration" />
                <span matTextSuffix>seconds</span>

                @if (setDuration?.invalid) {
                <mat-error>This field is mandatory</mat-error>
                }
              </mat-form-field>
            </div>

            <div class="mt-2">
              <span class="ft-16">Calories burned per exercise: </span>
              <span class="font-semi-bold ft-16">{{ caloriesBurned }}kCal</span>
            </div>
          </div>
        </div>
      </div>
    </app-form>
  </div>
  }
</div>
