<div class="container">
  <app-page-title [pageTitle]="mode + ' ' + mealType" (onGoBack)="goBack()" />

  @if (meal) {
  <app-form-base
    [formGroup]="mealForm"
    [formTitle]="meal.name"
    [actionBtns]="actionBtns"
    [error]="errorMessage"
  >
    <div
      class="flex flex-column flex-row-md justify-content-between col-gap-2 mb-4"
    >
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [labels]="chartOptions.labels"
          [responsive]="chartOptions.responsive!"
        ></apx-chart>
      </div>

      <div class="align-self-end-md">
        <span class="calories-title font-bold">{{ this.nutrients.calories }}kCal</span>
      </div>
    </div>

    <div class="mb-4">
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Nutrients</mat-panel-title>
          </mat-expansion-panel-header>

          <app-nutrients [data]="nutrients" />
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="flex flex-column flex-row-md col-gap-2 mb-4">
      <app-input-base
        [formControl]="mealForm.controls.quantity"
        [inputLabel]="'Quantity'"
        suffixValue="g"
        type="number"
        class="flex full-col mb-4"
      />

      <div class="flex full-col mb-4">
        <mat-form-field class="full-col">
          <mat-label>Meal</mat-label>
          <mat-select formControlName="mealType">
            @for (option of mealOptions; track option) {
            <mat-option [value]="option | uppercase">{{
              option | titlecase
            }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </app-form-base>
  }
</div>
