@use "../../../../styles/mixins" as *;

.carbohydrates {
  color: var(--dsVars-carbs-color);
}

.fats {
  color: var(--dsVars-fats-color);
}

.protein {
  color: var(--dsVars-prot-color);
}

.macros-chart {
  padding: 0;
  max-width: 120px;

  @include responsive(sm) {
    max-width: 150px;
  }

  @include responsive(md) {
    max-width: 130px;
  }

  @include responsive(lg) {
    max-width: 120px;
  }

  @include responsive(xl) {
    max-width: 250px;
  }
}
