<app-form [formGroup]="passwordForm" [actionBtns]="actionBtns">
  <div class="py-4">
    <div class="flex flex-column flex-row-md col-gap-2">
      <app-input-base
        formControlName="currentPassword"
        inputLabel="Current password"
        type="password"
        class="flex full-col mb-4"
      ></app-input-base>

      <app-input-base
        formControlName="password"
        inputLabel="New password"
        type="password"
        class="flex full-col mb-4"
      ></app-input-base>

      <app-input-base
        formControlName="passwordConfirmation"
        inputLabel="Password Confirmation"
        type="password"
        class="flex full-col mb-4"
      ></app-input-base>
    </div>
  </div>
</app-form>
