@use "../../../../styles/mixins" as *;

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-full-width {
  width: 100%;
}

.card {
  overflow: hidden;

  a {
    text-decoration: none;
    color: var(--dsVars-primary-dark) !important;

    .image {
      width: 100%;
      height: 200px;
      position: relative;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 1),
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0)
        );
        z-index: 1;
      }
  
      .category {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 12px;
        border-radius: 10px;
        background-color: var(--dsVars-primary-color);
        color: var(--dsVars-white);
      }
  
      .title-box {
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        z-index: 2;
  
        .card-title {
          color: var(--dsVars-white);
          text-shadow: 2px 2px 4px #000;
        }
  
        .card-title {
          font-size: 20px;
        }
      }
    }
  
    .card-content {
      font-size: 14px !important;

      .meal-type {
        border-right: 1px solid var(--dsVars-primary-dark);
      }
      
      .category-label {
        font-size: 16px;
      }

      .carbs-percentage {
        color: #f06b46;
      }

      .fats-percentage {
        color: rgb(3, 173, 216);
      }

      .proteins-percentage {
        color: rgb(32, 177, 95);
      }
  
      .description {
        height: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
  
      #chart {
        padding: 0;
        max-width: 100%;
        margin: auto;
      }
    }
  }
}

/*.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.search-full-width {
  width: 100%;
}

.card {
  overflow: hidden;

  .image {
    width: 100%;
    height: 200px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0)
      );
      z-index: 1;
    }

    .category {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 12px;
      border-radius: 10px;
      background-color: var(--dsVars-primary-color);
      color: var(--dsVars-white);
    }
  }

  .card-content {
    font-size: 14px !important;

    .card-title {
      font-size: 20px;
    }

    .meal-type {
      border-right: 1px solid var(--dsVars-primary-dark);
    }

    .category-label {
      font-size: 16px;
    }

    .carbs-percentage {
      color: #f06b46;
    }

    .fats-percentage {
      color: rgb(3, 173, 216);
    }

    .proteins-percentage {
      color: rgb(32, 177, 95);
    }

    .description {
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }

    #chart {
      padding: 0;
      max-width: 100%;
      margin: auto;
    }
  }
}*/
