<section class="container">
  <app-page-title
    [pageTitle]="mode.toLowerCase() + ' Exercise'"
    (onGoBack)="goBack()"
  />

  @if (exercise) {
  <app-form
    [formTitle]="exercise.exercise.category"
    [formSubtitle]="exercise.exercise.description"
    [formGroup]="formGroup"
    [actionBtns]="actionBtns"
    [error]="errorMessage"
  >
    <div class="my-3">
      <span class="font-semi-bold">Set program</span>
    </div>

    <div class="flex flex-row-md flex-column col-gap-2">
      <app-input-base
        formControlName="sets"
        inputLabel="Sets"
        type="number"
        class="flex full-col mb-4"
      />

      <app-input-base
        formControlName="setDuration"
        inputLabel="Set Duration"
        suffixValue="minutes"
        type="number"
        class="flex full-col mb-4"
      />
    </div>

    <div class="mt-2">
      <span class="ft-16">Calories burned per exercise: </span>
      <span class="font-semi-bold ft-16">{{ caloriesBurned }}kCal</span>
    </div>
  </app-form>
  }
</section>
