@use "./mixins" as *;

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.title-underline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 5px;
    left: 0;
    bottom: 0;
    background-color: var(--dsVars-primary-color);
  }
}

.container {
  max-width: 100%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;

  @include responsive(md) {
    padding: 30px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin-right: 5px;
  margin-left: 5px;

  @include responsive(lg) {
    margin-right: -15px;
    margin-left: -15px;
  }
}

.full-col {
  flex: 1;
}

.col-gap-1 {
  column-gap: 1em;
}

.col-gap-2 {
  column-gap: 2em;
}

.text-capitalize {
  text-transform: capitalize;
}

.font-gray {
  color: var(--dsVars-darkGray-color) !important;
}

.f-14 {
  font-size: 14px;
}

.f-18 {
  font-size: 18px;
}