@font-face {
  font-family: "Venus rising";
  src: url("../assets/fonts/Venus\ Rising\ Rg.otf");
}

.page-title {
  font-family: "Venus rising", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, span {
  // color: var(--dsVars-primary-dark);
}

.section-title,
.section-subtitle {
  margin: 0;
}

