@font-face {
  font-family: "Venus rising";
  src: url("../assets/fonts/Venus\ Rising\ Rg.otf");
}

.page-title {
  font-family: "Venus rising", "Helvetica Neue", sans-serif;
}

.section-title {
  font-size: 30px;
}

.section-subtitle {
  font-size: 20px;
}

