:root {
  --dsVars-primary-color: #2a0a89;
  --dsVars-tertiary-color: #20aff6;
  --dsVars-white: #ffffff;

  --dsVars-primary-dark: #180f2a;

  --dsVars-background-light-color: #f4f6f5;
  --dsVars-background-gray-color: #efefef;
  --dsVars-background-dark-color: #1b1b1b;
}

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

$spacers: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem
);

$directions: (
  "": (
    all,
  ),
  "t": (
    top,
  ),
  "r": (
    right,
  ),
  "b": (
    bottom,
  ),
  "l": (
    left,
  ),
  "x": (
    left,
    right,
  ),
  "y": (
    top,
    bottom,
  ),
);

$flex-start: "flex-start";
$flex-end: "flex-end";
$center: "center";

$justify-postions: (
  "start": $flex-start,
  "center": $center,
  "end": $flex-end,
  "between": space-between,
  "around": space-around,
  "evenly": space-evenly,
);

$alignment-postions: (
  "start": $flex-start,
  "center": $center,
  "end": $flex-end,
);

$font-weights: (
  "normal": 400,
  "semi-bold": 600,
  "bold": 700
);

$grid-columns: 12;