<mat-toolbar class="header">
  @if (sideNavMode === 'over') {
  <button mat-icon-button (click)="toggleSidebar()">
    <mat-icon class="primary">menu</mat-icon>
  </button>
  } @if (user) {
  <span class="welcome f-18">Welcome back {{ user.firstName }}</span>
  }
  <span class="spacer"></span>
  @if (user) {<button
    mat-icon-button
    [matTooltip]="user.firstName + ' ' + user.lastName"
    [matMenuTriggerFor]="menu"
  >
    <mat-icon class="primary">person</mat-icon>
  </button>
  }

  <mat-menu #menu="matMenu">
    <div class="p-4">
      <app-user-data [user]="user" [goal]="goal" />

      <button mat-flat-button [routerLink]="['./user/edit']">
        Profile settings <mat-icon>edit</mat-icon>
      </button>
    </div>
  </mat-menu>

  <button (click)="logout()" matTooltip="Logout" mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
