<table mat-table matSort [dataSource]="data" class="mat-elevation-z8">
  @for (col of displayedColumns; track $index) {
  <ng-container matColumnDef="{{ col.id }}">
    @if (col.id !== 'action') {
    {{ col.label }}
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      class="text-capitalize"
    >
      {{ col.label }}
    </th>
    } @else {
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 1%">
      <div class="p-2 class flex justify-content-end">
        <ng-content></ng-content>
      </div>
    </th>
    } @if (col.id === 'image') {
    <td mat-cell *matCellDef="let element" class="image-td">
      <app-image-box [src]="element[col.value]" [alt]="element[col.value]" [height]="150" class="p-1" />
    </td>
    } @else if (col.id === 'action') {
    <td mat-cell *matCellDef="let element">
      <div class="flex">
        @for(action of col.actions; track action) {
        <button mat-icon-button class="accent" (click)="action.action(element)">
          <mat-icon>{{ action.label }}</mat-icon>
        </button>
        }
      </div>
    </td>
    } @else {
    <td mat-cell *matCellDef="let element">{{ element[col.value] }}</td>
    }
  </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumnKeys; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnKeys"></tr>
</table>

@if (searchData && data.length === 0) {
<div class="flex justify-content-center align-items-center my-4">
  <mat-icon fontSet="material-icons text-3xl">search_off</mat-icon>
  <span>No data found</span>
</div>
}
