<table mat-table matSort [dataSource]="data" class="mat-elevation-z8">
  @for (col of displayedColumns; track $index) {
  <ng-container matColumnDef="{{ col.id }}">
    @if (col.id !== 'action') {
    {{ col.label }}
    <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      class="text-capitalize"
      [style.width]="col.width ?? 'auto'"
    >
      {{ col.label }}
    </th>
    } @else {
    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 1%">
      <div class="p-2 class flex justify-content-end">
        <ng-content></ng-content>
      </div>
    </th>
    } @if (col.id !== 'action') {
    <td
      mat-cell
      *matCellDef="let element"
      (click)="col?.openDetails(element)"
      class="{{ col.id === 'image' ? 'image-td' : '' }}"
      [style.width]="col.width ?? 'auto'"
    >
      @if (col.id === 'image') {
      <app-image-box
        [src]="element[col.value]"
        [alt]="element[col.value]"
        [height]="150"
        class="p-1"
      />
      } @else {
      {{ element[col.value] }}
      }
    </td>
    } @else {
    <td mat-cell *matCellDef="let element">
      <div class="flex">
        @for(action of col.actions; track action) {
        <button mat-icon-button class="accent" (click)="action.action(element)">
          <mat-icon>{{ action.label }}</mat-icon>
        </button>
        }
      </div>
    </td>
    }
  </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="displayedColumnKeys; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumnKeys"></tr>
</table>

@if (searchData) {
<app-no-data-found />
}
