<app-side-panel>
  @if (recipe) {
  <app-page-title [pageTitle]="'Recipe'" (onGoBack)="goBack()">
    @if (!recipeData && currentUser._id === recipe.createdBy) {
    <div class="flex">
      <button
        mat-icon-button
        matTooltip="Edit recipe"
        class="primary"
        (click)="editRecipe()"
      >
        <mat-icon class="primary">edit</mat-icon>
      </button>

      <button
        mat-icon-button
        matTooltip="Delete recipe"
        class="ml-2"
        (click)="onDeleteRecipe()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    }
  </app-page-title>

  <section>
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-12 col-6-lg">
            <app-image-box
              [src]="recipe.image?.toString()!"
              [alt]="recipe.name"
              [height]="400"
            />
          </div>

          <div class="col-12 col-6-lg flex flex-column justify-content-between">
            <h2 class="section-title font-bold m-0">{{ recipe.name }}</h2>

            <div class="flex flex-column full-col mt-4">
              <h3 class="section-subtitle font-bold">
                {{ recipe.category.name }}
              </h3>

              <span class="mt-2">{{ recipe.mealType }}</span>

              <div class="full-col flex mt-2">
                <p>{{ recipe.description }}</p>
              </div>
            </div>
            @if (nutrients) {
            <span class="font-bold mt-4">Per serving:</span>
            <div class="row macros-chart mt-4">
              @for (macro of getMacronutrients(nutrients); track $index) {
              <div class="col-3">
                <app-macros-chart
                  [macro]="macro"
                  [height]="130"
                  [nameOffsetY]="1"
                  [responsive]="responsive"
                  [fontSm]="true"
                />
              </div>
              }
            </div>
            }
          </div>
        </div>

        <mat-card class="my-4 px-4-md gradient-card">
          <mat-card-content>
            <div class="row">
              <div class="col-4">
                <div
                  class="flex flex-column flex-row-lg justify-content-center-md align-items-center f-18"
                >
                  <div>
                    <mat-icon>timer</mat-icon>
                  </div>
                  <span class="ml-2"
                    >Prep: {{ recipe.preparationTime }} min</span
                  >
                </div>
              </div>

              <div class="col-4">
                <div
                  class="flex flex-column flex-row-lg justify-content-center-md align-items-center f-18"
                >
                  <div>
                    <mat-icon>microwave_gen</mat-icon>
                  </div>
                  <span class="ml-2-md"
                    >Cook: {{ recipe.preparationTime }} min</span
                  >
                </div>
              </div>

              <div class="col-4">
                <div
                  class="flex flex-column flex-row-lg justify-content-center-md align-items-center f-18"
                >
                  <div>
                    <mat-icon>soup_kitchen</mat-icon>
                  </div>
                  <span class="ml-2">Serves: {{ recipe.servings }}</span>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card-content>
    </mat-card>

    <mat-card class="my-4">
      <mat-card-content>
        <div class="row">
          <div class="col-4-lg col-12">
            <h2 class="section-title mb-4">Ingredients</h2>

            <div class="my-4">
              @for (indrigent of recipe.ingredients; track $index) {
              <p>{{ indrigent.name }} - {{ indrigent.quantity }}g</p>
              }
            </div>
          </div>

          <div class="col-8-lg col-12">
            <div class="instructions">
              <h2 class="section-title mb-4">Instructions</h2>

              @for (instruction of recipe.instructions; track $index) {
              <div class="instruction my-4">
                <div class="my-4">
                  <span
                    class="section-subtitle title-underline font-semibold py-2"
                    >Step {{ $index + 1 }}</span
                  >
                </div>
                <p>{{ instruction.description }}</p>
              </div>
              }
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="my-4">
      <mat-card-content>
        <h2 class="mb-4 section-title">Nutrients per serving</h2>

        <div class="my-4">
          <app-nutrients [data]="nutrients" />
        </div>
      </mat-card-content>
    </mat-card>
  </section>
  }

  <app-local-spinner />
</app-side-panel>
