<app-side-panel appDsInfiniteScroll>
  <app-page-title [pageTitle]="pageTitle" (onGoBack)="goBack()" />

  <mat-tab-group>
    <mat-tab label="Food"> 
      <ng-template matTabContent>
        <app-foods [mealType]="mealType" [day]="day"></app-foods>
      </ng-template>
    </mat-tab>
    <mat-tab label="Recipes">
      <ng-template matTabContent>
        <app-recipes-foods [mealType]="mealType" [day]="day"></app-recipes-foods>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</app-side-panel>
