<div class="row">
  <div class="col-12 col-6-xl">
    <span class="font-bold">Macronutrients</span>
    @for (macronutrient of data.macronutrients; track $index) {
    <div class="row my-4">
      <div class="col-3-sm col-4 flex align-items-center">
        <span class="nutrient-label">{{ macronutrient.name }}</span>
      </div>

      <div class="col-9-sm col-8 flex align-items-center">
        <div class="col-5">
          <mat-progress-bar
            class="{{ macronutrient.percentageOfTotal > 100 ? 'danger' : '' }}"
            [value]="macronutrient.percentageOfTotal"
          >
          </mat-progress-bar>
        </div>
        <div class="col-7">
          <div class="flex flex-column flex-row-sm justify-content-between align-items-center">
            <div class="flex">
              <div class="ml-2">
                <span class="nutrient-value"
                  >{{ macronutrient.percentageOfTotal.toFixed() }}%</span
                >
              </div>
  
              <div class="ml-2">
                <span class="nutrient-value">
                  ({{ macronutrient.value.toFixed(2) }}
                  {{ macronutrient.unitOfMeasurement }})
                </span>
              </div>
            </div>

            <button
              mat-icon-button
              matTooltip="Your daily limit of {{ macronutrient.name }} is {{
                macronutrient.dailyLimit.toFixed(2)
              }} {{ macronutrient.unitOfMeasurement }}"
              aria-label="Button that displays a tooltip when focused or hovered over"
            >
              <mat-icon>help</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>

  <div class="col-12 col-6-xl">
    <span class="font-bold">Micronutrients</span>
    @for (micronutrient of data.micronutrients; track $index) {
    <div class="row my-4">
      <div class="col-3-sm col-4 flex align-items-center">
        <span class="nutrient-label">{{ micronutrient.name }}</span>
      </div>

      <div class="col-9-sm col-8 flex align-items-center">
        <div class="col-5">
          <mat-progress-bar
            class="{{ micronutrient.percentageOfTotal > 100 ? 'danger' : '' }}"
            [value]="micronutrient.percentageOfTotal"
          >
          </mat-progress-bar>
        </div>
        <div class="col-7">
          <div class="flex flex-column flex-row-sm justify-content-between align-items-center">
            <div class="flex">
              <div class="ml-2">
                <span class="nutrient-value"
                  >{{ micronutrient.percentageOfTotal.toFixed() }}%</span
                >
              </div>
  
              <div class="ml-2">
                <span class="nutrient-value">
                  ({{ micronutrient.value.toFixed(2) }}
                  {{ micronutrient.unitOfMeasurement }})
                </span>
              </div>
            </div>

            <button
              mat-icon-button
              matTooltip="Your daily limit of {{ micronutrient.name }} is {{
                micronutrient.dailyLimit.toFixed(2)
              }} {{ micronutrient.unitOfMeasurement }}"
              aria-label="Button that displays a tooltip when focused or hovered over"
            >
              <mat-icon>help</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
