<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer
    #drawer
    class="sidenav"
    [mode]="sideNavMode"
    [opened]="sideNavMode === 'side'"
    [attr.inert]="!drawer.opened ? '' : null"
  >
    <app-sidebar
      [sideNavMode]="sideNavMode"
    ></app-sidebar>
  </mat-drawer>

  <mat-drawer-content>
    <div class="sidenav-content">
      <app-header
        [sideNavMode]="sideNavMode"
        (sidebarToggled)="drawer.toggle()"
      ></app-header>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
