.editor {
    width: 100%;
    min-height: 200px;
    // border: 1px solid rgba(0, 0, 0, 0.23);
    padding: 12px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    border-radius: 4px;
    outline: none;
    background: var(--dsVars-background-light-color);
    transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .editor:focus {
    border-color: #3f51b5; /* Material Primary Color */
    box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
  }
  
  /* Placeholder Style */
  .editor:empty::before {
    content: attr(data-placeholder);
    color: rgba(0, 0, 0, 0.54);
    font-family: Roboto, Arial, sans-serif;
    pointer-events: none;
    display: block;
  }