<app-form-base
  [formGroup]="userGoals"
  [actionBtns]="actionBtns"
>
  <div class="py-4">
    <div class="flex flex-column mb-4">
      <span class="font-semi-bold">Measurement system</span>
      <mat-radio-group
        formControlName="measurementSystem"
        class="full-col mt-4"
      >
        <mat-radio-button value="METRIC">Metric (kg, cm)</mat-radio-button>
        <mat-radio-button value="IMPERIAL">Imperial (ft, lb)</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flex flex-column flex-row-xl col-gap-2">
      @if (measurementSystem?.value === "METRIC") {
      <app-input-base
        [formControl]="userGoals.controls.height"
        [inputLabel]="'Height'"
        suffixValue="cm"
        type="number"
        class="flex full-col mb-4"
      ></app-input-base>
      } @else {
      <app-input-base
        [formControl]="userGoals.controls.heightFeet"
        [inputLabel]="'Feet'"
        suffixValue="ft"
        step="0.1"
        type="number"
        class="flex full-col mb-4"
      ></app-input-base>

      <app-input-base
        [formControl]="userGoals.controls.heightInches"
        [inputLabel]="'Inches'"
        suffixValue="in"
        step="0.1"
        type="number"
        class="flex full-col mb-4"
      ></app-input-base>
      }

      <app-input-base
        [formControl]="userGoals.controls.weight"
        [inputLabel]="'Weight'"
        [suffixValue]="measurementSystem?.value === 'METRIC' ? 'kg' : 'lbs'"
        step="0.1"
        type="number"
        class="flex full-col mb-4"
      ></app-input-base>
    </div>

    <div class="flex flex-column mb-4">
      <span class="font-semi-bold"
        >Select your goal (you can always change your goals)</span
      >
      <mat-radio-group formControlName="goal" class="full-col mt-4">
        <mat-radio-button value="LOSE_WEIGHT">Lose weight</mat-radio-button>
        <mat-radio-button value="REMAIN_WEIGHT">Remain weight</mat-radio-button>
        <mat-radio-button value="GAIN_WEIGHT">Gain weight</mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="flex flex-column flex-row-md col-gap-2">
      @if (goal?.value !== 'REMAIN_WEIGHT') {
        <div class="flex full-col mb-4">
          <mat-form-field class="full-col">
            <mat-label
              >How much
              {{ measurementSystem?.value === "METRIC" ? "kg" : "lbs" }} you per
              week do you wish to
              {{ goal?.value === "LOSE_WEIGHT" ? "lose" : "gain" }}?</mat-label
            >
            <mat-select formControlName="weightPerWeek">
              @for (weight of weightOptions; track weight) {
              <mat-option [value]="weight">{{ weight }}</mat-option>
              }
            </mat-select>
    
            <mat-hint>{{ weightPerWeekWarningMessage() }}</mat-hint>
          </mat-form-field>
        </div>
        }

        <div class="flex full-col mb-4">
          <mat-form-field class="full-col">
            <mat-label
              >Activity level</mat-label
            >
            <mat-select formControlName="activityLevel">
              @for (level of activityLevelOptions; track level) {
              <mat-option [value]="level.value">{{ level.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
    </div>
  </div></app-form-base
>
