@use "@angular/material" as mat;

:host {
  .ml-auto {
    margin-left: auto;
  }
  
  .secondary {
    @include mat.button-overrides(
      (
        filled-container-color: var(--dsVars-background-gray-color),
        filled-label-text-color: var(--dsVars-primary-color),
      )
    );
  }
}
