@use "@angular/material" as mat;

:host {
  .form-base {
    background-color: var(--dsVars-white);

    .title {
      font-size: 26px;
    }

    .form {
      margin-top: 40px;
      
      .error-message {
        font-size: 14px;
        color: var(--mat-sys-error);
      }
    }

    .secondary {
      @include mat.button-overrides(
        (
          filled-container-color: var(--dsVars-background-gray-color),
          filled-label-text-color: var(--dsVars-primary-color),
        )
      );
    }
  }
}
