// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "sass:map";

@use "./styles/layout";
@use "./styles/utilities";
@use "./styles/typography";


$azure-palette: map.set(mat.$azure-palette, 40, var(--dsVars-primary-color));
$violet-palette: map.set(mat.$violet-palette, 40, var(--dsVars-tertiary-color));

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: $azure-palette,
        tertiary: $violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: var(--dsVars-white),
  ));

  @include mat.stepper-overrides((
    header-icon-foreground-color: var(--dsVars-white),
  ));

  @include mat.card-overrides((
    elevated-container-color: var(--dsVars-white),
  ));

  @include mat.table-overrides((
    background-color: var(--dsVars-white),
  ));

  @include mat.expansion-overrides((
    container-background-color:  var(--dsVars-white),
  ));
}

.btn-sm {
  @include mat.button-overrides(
    (
      filled-container-height: 30px
    )
  );
}