// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
@use "sass:map";

@use "./styles/layout";
@use "./styles/utilities";
@use "./styles/typography";


$orange-palette: map.set(mat.$orange-palette, 40, var(--dsVars-primary-color));
$violet-palette: map.set(mat.$violet-palette, 40, var(--dsVars-tertiary-color));

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: $orange-palette,
        tertiary: $violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

.btn-sm {
  @include mat.button-overrides(
    (
      filled-container-height: 30px
    )
  );
}