:host {
  .goal {
    ::ng-deep {
      color: var(--dsVars-tertiary-color);
    }
  }
  
  .food {
    ::ng-deep {
      color: var(--dsVars-carbs-color);
    }
  }
  
  .exercise {
    ::ng-deep {
      color: var(--dsVars-prot-color);
    }
  }
}