<app-side-panel appDsInfiniteScroll>
  <app-page-title [pageTitle]="'Recipes'" [goBackButton]="false">
    <button mat-flat-button (click)="addRecipe()">
      Add Recipe <mat-icon>add</mat-icon>
    </button>
  </app-page-title>

  <form class="search-form">
    <app-input-base
      [formControl]="searchRecipe"
      inputLabel="Search recepies"
      class="flex full-col mb-4"
    />
  </form>

  <div class="row">
    @for (recipe of recipes; track $index) {
    <div class="col-3-xl col-4-md col-6-sm col-12">
      <mat-card class="card">
        <a [routerLink]="['/recipes', recipe._id]">
          <div class="image">
            <app-image-box [src]="recipe.image" [alt]="recipe.name" />

            <div class="overlay"></div>

            <div class="category px-2 py-1">
              <span>{{ recipe.category.name }}</span>
            </div>

            <div class="title-box">
              <div class="flex justify-content-between align-items-end">
                <div class="my-2">
                  <span class="card-title font-semibold">{{
                    recipe.name
                  }}</span>
                </div>
              </div>
            </div>
          </div>
          <mat-card-content>
            <app-recipe-card-content [recipe]="recipe" />
          </mat-card-content>
        </a>
      </mat-card>
    </div>
    }
  </div>

  <app-local-spinner />
</app-side-panel>
